<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <!-- Highlights the code snippet with syntax formatting -->
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Code</title>
</head>
<body>
<div class="main-wrapper">
    <p th:if="${error}">No code Snippet found with that ID</p>

    <div th:if="${snippet != null}"> <!-- Only displays the child elements when snippet is not null -->
        <span id="load_date" th:text="${snippet.date}"></span>
        <div th:if="${secret}">
            <p><u><span th:text="${snippet.views}">n</span></u> more views allowed</p>
            <p>The code will be available for <u><span th:text="${snippet.time}">x</span></u> seconds</p>
        </div>
        <pre><code id="code_snippet" th:text="${snippet.code}"></code></pre>
    </div>

</div>
</body>
</html>