<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <!-- Highlights the code snippet with syntax formatting -->
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Latest</title>
</head>
<body>
<div class="main-wrapper">
<table>
    <tr th:each="snippet : ${snippets}">
        <span id="load_date" th:text="${snippet.date}"></span>
        <pre><code id="code_snippet" th:text="${snippet.code}"></code></pre>
    </tr>
</table>
</div>
</body>
</html>