<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script type="text/javascript" src="/javascript/submit-code.js"></script>

    <!-- Highlights the code snippet with syntax formatting -->
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Create</title>
</head>
<body>
<div class="main-wrapper">
    <textarea name="code" id="code_snippet" cols="30" rows="10">// write your code here</textarea>
    <div class="restriction-div"><label for="time_restriction">Time Restriction:</label>
        <input id="time_restriction" type="text">
    </div>
    <div class="restriction-div"><label for="views_restriction">Views Restriction:</label>
        <input id="views_restriction" type="text">
    </div>
    <button id="send_snippet" type="submit" onclick="send()">
        submit
    </button>
</div>
</body>
</html>